<mat-tab-group>
  <mat-tab label="Login">
    <app-login></app-login>
  </mat-tab>
  <mat-tab label="Vista"> 
    <app-vista></app-vista>
  </mat-tab>
  <mat-tab label="Formulario">
    <app-formulario></app-formulario>
  </mat-tab>
  <mat-tab label="Busqueda"> 
    <app-busqueda></app-busqueda>
  </mat-tab>
  <mat-tab label="Mensaje"> 
    <app-mensaje></app-mensaje>
  </mat-tab>
  <mat-tab label="Dialog"> 
    <app-dialog></app-dialog>
  </mat-tab>
</mat-tab-group>


<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">CERTUS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="vista">Vista GET</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="busqueda">Buscar GET</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="formulario">Formulario POST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="mensaje">Mensaje</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="operacion">Operaciones</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="login" *ngIf="!usuariologueado" >Login</a>
            <a class="nav-link active" aria-current="page" routerLink="login" *ngIf="usuariologueado" (click)="logout()" >Logout</a>
          </li>
        </ul>
      </div>
    </div>
</nav> -->
