<section class="sectionGeneral">
    <section class="sectionTextarea">
        <h2>message</h2>
        <section class="sectionImagen">
            <img src="./assets/sandia.png" alt="">
        </section>
        
        <mat-form-field appearance="fill">
            <section class="form-group">
                <mat-label>Textarea</mat-label>
                <textarea matInput name="men" [(ngModel)]="mensaje"></textarea>        
            </section>
        </mat-form-field>
        <section class="sectionButton">
            <button mat-raised-button color="accent">Accent</button>   
        </section> 
    </section>


</section>


<!-- <section class="col-3 container-contacto">
    <section class="form-group">
        <label for="men">Mensaje:</label>
        <textarea class="form-control" name="men" [(ngModel)]="mensaje"></textarea>
    </section>
    <input class="btn btn-primary" value="Enviar" (click)="EnviarMensaje()">
</section>
-->